{% extends "padre.html" %}

{% block panel %}
    <div id="inicio">
        {% if rango == "usernormal" %}
            <strong>{{nombre}}</strong> - User Registrado - <a href="logout.php">Cerrar sesión</a>
        {% elseif rango == "moderador" %}
            <strong>{{nombre}}</strong> - Moderador - <a href="logout.php">Cerrar sesión</a>
        {% elseif rango == "gestor" %}
            <strong>{{nombre}}</strong> - Gestor - <a href="logout.php">Cerrar sesión</a>
        {% else %}
            <strong>{{nombre}}</strong> - Superusuario - <a href="logout.php">Cerrar sesión</a>
        {% endif %}
        <br><br><strong><a href="panel.php">Panel de control</a></strong>
    </div>
{% endblock %}

{% block eventos %}
    <div class="articulo">
        {% for ev in eventos %}
            <p id="bigtext">{{ev.nombre}}</p>
            <form id="form" method="post" action="editareventos.php" accept-charset="utf-8">
                <button>Editar</button>
                <input type="hidden" name="idevento" value="{{ev.id}}"/>
            </form>
            <form id="form" method="post" action="evento.php" accept-charset="utf-8">
                <button>Borrar</button>
                <input type="hidden" name="idborrar" value="{{ev.id}}"/>
            </form>
        {% endfor %}
        <a href="aniadireventos.php"><button id="boton_comentarios">Añadir evento</button></a>
    </div>
{% endblock %}