{% extends "padre.html" %}

{% block panel %}
    <div id="inicio">
        {% if rango == "usernormal" %}
            <strong>{{nombre}}</strong> - User Registrado - <a href="logout.php">Cerrar sesión</a>
        {% elseif rango == "moderador" %}
            <strong>{{nombre}}</strong> - Moderador - <a href="logout.php">Cerrar sesión</a>
        {% elseif rango == "gestor" %}
            <strong>{{nombre}}</strong> - Gestor - <a href="logout.php">Cerrar sesión</a>
        {% else %}
            <strong>{{nombre}}</strong> - Superusuario - <a href="logout.php">Cerrar sesión</a>
        {% endif %}
        <br><br><strong><a href="panel.php">Panel de control</a></strong>
    </div>
{% endblock %}

{% block eventos %}
    <div class="articulo">
        <div id="lista_comentarios">
            {% for comentario in comentarios %}
                <div id="comentario">
                    <p id="nombre">{{comentario.nombre}}</p>
                    <p id="fecha">{{comentario.fecha}}</p>
                    <p>{{comentario.texto}}</p>
                    {% if comentario.editado %}
                        <p id="smalltext">Editado por un moderador.</p>
                    {% endif %}
                    {% if rango == "moderador" or rango == "gestor" or rango == "superusuario" %}
                        <form id="form" method="post" action="editarcomentarios.php" accept-charset="utf-8">
                            <button>Editar</button>
                            <input type="hidden" name="idcomentario" value="{{comentario.id}}"/>
                            <input type="hidden" name="idevento" value="{{evento.id}}"/>
                        </form>
                        <form id="form" method="post" action="evento.php" accept-charset="utf-8">
                            <button>Borrar</button>
                            <input type="hidden" name="idcomentario" value="{{comentario.id}}"/>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}